<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, inicial-scale=1.0">
        
    <!-- Compiled and minified CSS -->
    {% load static %}
    <link
        rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link
     href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

        <title>
            DOCUMENTO
        </title>
    </head>
  <body>
    <body>
        
  <nav class="nav-extended teal lighten-1">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">CBFMM</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">INICIO</a></li>
        <li><a href="badges.html">REGISTRARSE</a></li>
        <li><a href="collapsible.html">ENTRAR</a></li>
      </ul>
    </div>
    <div class="nav-content">
      <ul class="tabs tabs-transparent">
        <li class="tab"><a href="#test1">ACERCA DE</a></li>
        <li class="tab"><a class="active" href="#test2">CURSOS</a></li>
        <li class="tab disabled"><a href="#test3">MATRICULAS</a></li>
        <li class="tab"><a href="#test4">BIBLIOTECA</a></li>
      </ul>
    </div>
   
    </nav>

    <div class="progress">
    <div class="indeterminate"></div>
    </div>

<ul class="sidenav" id="mobile-demo">
  <li><a href="sass.html">Sass</a></li>
  <li><a href="badges.html">Components</a></li>
  <li><a href="collapsible.html">JavaScript</a></li>
</ul>
<h1>¿Qué es el Cuento?</h1>
<h5>Un cuento es un relato o narración breve de carácter ficticio o real, con un argumento fácil de entender y cuyo objetivo es formativo o lúdico.

    De un modo más coloquial, también se habla de 'cuento' para referirse a una mentira, excusa o historia inventada. Del mismo modo, un 'cuento' es un enredo o chisme.
    
    El término cuento procede del latín compŭtus ('cuenta').</h5>
<h2>Características del cuento</h2>
<h5>Aunque las historias de cuentos son muy variadas y tocan múltiples temas, comparten ciertas características comunes:

    El cuento tiene una estructura central vinculada a un protagonista: en los cuentos se evitan las tramas múltiples, que sí existen en las novelas.
    Las acciones suelen ser ubicadas en tiempo y espacio desde el inicio: "había una vez un rey que vivía en un castillo encantado..."
    Es ficticio: si bien un cuento puede estar basado en hechos reales, su narrativa apunta a lo fantástico.
    Cada acción desencadena una consecuencia.
    Los personajes principales deben resolver problemas o superar pruebas difíciles para poder lograr su objetivo.
    Existe uno o varios personajes clave que son esenciales para que el protagonista pueda superar sus pruebas: el hada que ayuda a la princesa, el animal que indica el camino a seguir, etc.
    Deben ser breves.
    Deberían ser leídos de principio a fin como una estructura única: al ser narraciones breves y con una estructura básica, si se leen por fragmentos se pierde el efecto que la historia debería generar.</h5>
    <button class="btn waves-effect waves-light" type="submit" name="action">COMPRA TU LIBRO Y ENVIANOS TUS COMENTARIOS
        <i class="material-icons right">send</i>
      </button>
    <!-- Scaled in -->
  <a id="scale-demo" href="#!" class="btn-floating btn-large scale-transition">
    <i class="material-icons">add</i>
  </a>

  <!-- Scaled out -->
  <a id="scale-demo" href="#!" class="btn-floating btn-large scale-transition scale-out">
    <i class="material-icons">add</i>
  </a>
  
    <table>
        <thead>
          <tr>
              <th>Name</th>
              <th>Item Name</th>
              <th>Item Price</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Alvin</td>
            <td>Eclair</td>
            <td>$0.87</td>
          </tr>
          <tr>
            <td>Alan</td>
            <td>Jellybean</td>
            <td>$3.76</td>
          </tr>
          <tr>
            <td>Jonathan</td>
            <td>Lollipop</td>
            <td>$7.00</td>
          </tr>
        </tbody>
      </table>

      
          <P></P>
          <P></P>
          
          
        <body>
            <div class="container">
              <!-- Page Content goes here -->
              <div class="row">
                <div class="col s12 m6">
                  <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                      <span class="card-title">INFORMATICA</span>
                      <p>En este curso aprenderemos a desarrollar paginas web con fremework Django.</p>
                    </div>
                    <div class="card-action">
                      <a href="#">This is a link</a>
                      <a href="#">This is a link</a>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
            
          </body> 

          <DIV align="right">
            <P><i class="material-icons">bluetooth_searching</i></P>.
            <P><i class="material-icons">camera_alt</i></P>
            <p><i class="material-icons">add_circle</i></p>.
            <p><i class="material-icons">cloud_download</i></p>
            
           </DIV>
           <P></P>
           <P></P>
           <P></P>
           
          <DIV align="center">
           <a class="btn-floating pulse"><i class="material-icons">menu</i></a>
           <a class="btn-floating btn-large pulse"><i class="material-icons">cloud</i></a>
           <a class="btn-floating btn-large cyan pulse"><i class="material-icons">edit</i></a>
           </DIV>
           <footer class="page-footer  deep-orange lighten-3">
            <div class="container">
              <div class="row">
                <div class="col l6 s12">
                  <h5 class="white-text ">DISEÑO DE CALIDAD</h5>
                  <p class="grey-text text-lighten-4">UNICO CREADOR DE DISEÑO WEB SIN COMPENTENCIAS.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                  <h5 class="white-text">INGRESE A:</h5>
                  <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">https://m.facebook.com/?_rdr</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">https://www.youtube.com/?hl=ES</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">https://web.whatsapp.com/</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">https://mail.google.com/mail/u/0/#inbox</a></li>
                  </ul>
                </div>
              </div>
        
            <div class="footer-copyright">
              <div class="container">
              © DERECHOS RESERVADOS DE JEAN PIERRE SAGBAY
        
              <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
              </div>
            </div>
          </footer>
          
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script
</body>
</html>